<!DOCTYPE html>
<html>
<head>
  <title>Whisper Server</title>
</head>
<body>
  <h1>Whisper Server</h1>
  <script>
    const source = new EventSource('/whisper');
    source.addEventListener('message', function(event) {
        const data = JSON.parse(event.data);
        console.info('Whisper recognised:', data);
        document.getElementById('whisper').innerHTML += `<div>${data.results[0].text}</div>`;
        console.info(`appended <div>${data.results[0].text}</div>`);
        console.info(document.getElementById('whisper').innerHTML);
    }, false);
    source.addEventListener('error', function(event) {
        const error = 'Failed to connect to event stream. Is Whisper running?';
        console.error(error);
        // document.getElementById('whisper').innerHTML = `<div>${error}</div>`;
    }, false);
  </script>

  <div id="whisper"></div>
</body>
</html>
